# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data
/data/
/videos/
/models/

# Notebooks outputs
notebooks/assets/

# Environment
.env
.venv
venv/
ENV/

# IDE
.vscode/
.idea/
.DS_Store
*.swp 